<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <nav class="nav-bar">
            <div class="User-Profile-Canva">
                <img src="~/Images/user-logo.png">
                <button type="submit" class="Profile-Button">
                    <span>Profile</span>
                </button>
            </div>
            <div class="Scheduled-Views">
                <button type="submit">
                    <span>Calendar</span>
                    </button>
                <img src="~/Images/calendar-canva.png">
            </div>
            <div class="Task-Views">
                <button type="submit">
                    <span>Events</span>
                </button>
                <img src="~/Images/To-do-list.png">
            </div>
            <div class="User-settings">
                <img src="~/Images/configure-icon.png">
                <button type="submit">
                    <span>Settings</span>
                </button>
            </div>
        </nav>
    </div>


    <div>
        @RenderBody()
    </div>
</body>
</html>
