<!DOCTYPE html>
@{
    ViewBag.Title = "Project";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/Project-site/Registered-Navigation.css">
    <script language="javascript" type="module" src="~/js/SideBar_handler.js"></script>
</head>
    <body>
        <div class="nav-bar-trigger">
            <img src="/Images/menu-regular-48Gray.png"/>
        </div>

        <div class="nav container"> 
            <nav class="nav-bar">
                <div class="Menus">
                    <button>
                        <img src="~/Images/menu-regular-48Gray.png" />
                    </button>
                </div>
                <div class="User-Profile-Canva">
                    <button class="Profile-Button" >
                        <img src="~/Images/User-Profile.png">
                        <span>@ViewData["username"]</span>
                    </button>
                </div>
                <div class="Scheduled-Views">
                <button onclick="location.href ='@Url.Action("Calendar_Project_Section","MainPage")'">
                        <img src="~/Images/Scheduled.png">
                        <span>Schedule</span>
                    </button>
                </div>
                <div class="Task-Views">
                    <button>
                        <img src="~/Images/TaskListpng.png" />
                        <span>Task</span>
                    </button>
                </div>
                <div class="User-settings">
                    <button>
                        <img src="~/Images/setting-iconpng.png">
                        <span>Settings</span>
                    </button>
                </div>
            </nav>
        </div>

        <div class="Main-Section">
            @RenderBody()
        </div>
    </body>
</html>