@{
    Layout = "~/Views/Shared/Registered_Navigation.cshtml";
    ViewBag.Title = "Schedule-Project";
    ViewBag.user_info = "none";
}

<head>
    <link rel="stylesheet" href="~/css/Project-site/Schedule_Section_Style.css" />
    <script language="javascript" type="module" src ="~/js/Schedule_Section.js"></script>
</head>

<div class="Layout-container">
    <div class="Calendar-Text-header">
        <div class="Calendar-Month-Container">
            <h1>July 2023</h1>
        </div>
        
        <div class="Button-arrow-container">
            <button class="Transition-button-left">
                <img src="~/Images/left-arrow-alt-regular-48.png">
            </button>

            <button class="Transition-button-right">
                <img src="~/Images//Right-arrow-white.png">
            </button>
        </div>

        <div class="Add-Event-Container">
            <button type="submit" class="Add-Event-Button" id="event-Button">
                <span id="Text-Event-button">Add Event</span>
            </button>
        </div>
        

    </div>

    <div class="Sub-header">

    </div>

    <div class="Calendar-Main-interface">

    </div>
</div>

