@{
    Layout = "~/Views/Shared/Registered_Navigation.cshtml";
    ViewData["username"] = ViewBag.Username;
}

<head>
    <link rel="stylesheet" href="~/css/Project-site/ProjectStarter.css"/>
    <script language="javascript" type="module" src="~/js/Scheduled-Page/Introduction_Page.js"></script>
</head>

<h1 class="header">Let's get started with your first project</h1>
<button id="Create-New-calendar" type="submit" >
    <span class="Content">Create new calendar</span>
</button>



