@model List<Project>;

@{
    var UserProject = Model; 
    Layout = "~/Views/Shared/Registered_Navigation.cshtml";
    ViewData["username"] = ViewBag.Username;
}

<head>
    <script language="javascript" type="module" src="~/js/Registered-Nav/Sidebar-Handler.js"></script>
    <script language="javascript" type="module" src="~/js/Scheduled-Page/Introduction_Page.js"></script>
    <link rel="stylesheet" href="~/css/Project-site/ProjectStarter.css" />
</head>


<div class="Main-Section">
    @{
    <div class="Overlay"></div>
        <h1 class="header">Let's get started with your first project</h1>
        <button id="Create-New-calendar" type="submit">
            <span class="Content">Create new calendar</span>
        </button>

        <div class="dialog">
            <button class="Cancel-icon">
                <img id="X-Icon" src="~/Images/x-regular-48.png">
            </button>

            <h1 class="Project-Header">Project Settings</h1>
            <div class="Sub-dialog">
                <form id="Project-info" method="post" asp-controller="MainPage" asp-action="Init_Project">
                    <label class="Dialog-label">Name</label>

                    <input autocomplete="off" required type="text" name="P_Name" id="Project-TextBox" class="Name_Box">

                    <label class="Dialog-label">Description</label>

                    <input autocomplete="off" required type="text" name="P_Description" id="Project-TextBox">


                    <input class="Save-button" type="submit" value="Save">
                </form>
            </div>
        </div>
    }
</div>



  