@model List<Project>;

@{
    Layout = "~/Views/Shared/Registered_Navigation.cshtml";
    var UserProject = Model;
    
}

<head>
    <link rel="stylesheet" href="~/css/Project-site/Registered-Navigation.css">
    
</head>

<body>
    <div class="Main-Section">
        

    </div>
</body>

