@{
    Layout = "~/Views/Shared/Navigation_Bar.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Login.css">
</head>

<body>
    <div class="interaction-field">
        <h1>Welcome back!</h1>
        <form class="user-Info-box" action="Login" method="post">
            <label>Email:</label>
            <input name = "_Email" class="email-box" type="email" autocomplete="off" required autofocus>
            <label>Password:</label>
            <input name ="password" class="paswords_box" type="password" autocomplete="off" required autofocus>

            <input type="submit" class="Sender" formmethod="post" value="Continue">
        </form>
        
        <a class="SignUpLink" href=@Url.Action("SignUp")>Haven't got an account yet?</a>
    </div>
</body>