@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/Navigation_Bar.cshtml";
}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/SignUp_Page.css">

    </head>

    <div class="Sign-up-field">
            <h1 class="header">Sign up</h1>
            <form class="input-field" action="SignUp" method="post">
                <label>Username:</label>
                <input class="Username-box" autocomplete="off" type="text" name="UserName" required />
                <label>Email:</label>
                <input name="Email" autocomplete="off" type="email" class="gmail-box" required />
                <label>Password:</label>
                <input name="Password" autocomplete="off" type="password" class="password-box" required />


                <input type="submit" class="Submit-gmail-button" value="Continue" formmethod="post" />
            </form>
        <a class="Login-Link" href=@Url.Action("Login")>already have an account ?</a>
    </div>
</html>



