@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600;800&display=swap');

:root {
    --Container_height: 80vh;
    --Container_width: 100%;
    --Font_Style: 'Sora', sans-serif;
    --header_Size: 3rem;
    --Description_Size:1rem;
    --Standard_Size:18px;
    --Text_color: antiquewhite;

    --Defualt_Rows_Layout: 60px repeat(5, 1fr);/*Defualt layout*/
    --Defualt_Colls_Layout: 1fr repeat(4, 1fr);
    
    --Defualt_Background_Color:rgb(45,45,45);
}



/**----------Starter_Section----------**/

.Container_ {/*Starter task container*/
    display: flex;
    height: var(--Container_height);
    width: var(--Container_width);
}


.Intro_Header {
    display:flex;
    font-family:var(--Font_Style);
    font-size:var(--header_Size);
    color:var(--Text_color);
}

.Header_Container {
    display: flex;
    flex-direction: column;
    height: inherit;
    width: inherit;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap:wrap;
}

.CreateNewTask {
    display:flex;
    justify-content:center;
    font-family:var(--Font_Style);
    font-size:var(--Description_Size);
    color:var(--Text_color);
    font-weight:bold;
    width:15vw; 
    height:5.5vh;
}


.Task_dialog {
    display: flex;
    flex-direction:column;
    position:fixed;
    width: fit-content;
    height: 95vh;
    background-color: rgb(45, 45, 42);
    
    /*
        top:15%;
        bottom:15%;
        right:-50%;

    */
    transform:translate(150%,-5%);

    transition-property:transform;
    transition-delay:0.2s;
    transition-duration:0.5s;
    transition-timing-function:ease;

    border-radius:7px;
    outline:none;
    border:none;
}

.Cancel-icon {
    display:flex;
    flex-direction:row-reverse;
    margin-left:46.5vw; /*Distance apart from left tab*/

    background-color:transparent;
    width:fit-content;
}

#X-Icon {
    padding:10px;
    background-color:transparent;

}

.Task-Header {
    font-family: var(--Font_Style);
    font-size: var(--header_Size);
    color: var(--Text_color);
}

#Task-info {
    display: flex;
    flex-direction: column;
    gap:10px;
}

.Task-Sub-dialog {
    width:50vw;
    height:inherit;
    background-color:transparent;
}

.Portions_Container {/*Containning header portions*/
    display: flex;
    flex-direction: row;
    width: 98.5%;
    height:fit-content;
    margin-left: 5px;
    
    border-bottom: thin;
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: antiquewhite;
}

.Task-Dialog-label {
    font-family: var(--Font_Style);
    color: var(--Text_color);
}

.Task_TextBox_Header {
    height: 56px;
    width:inherit;

    border-radius: 0px;
    border: hidden;
    outline: none;
    border-bottom: solid;
    border: 15px;
    border-color: antiquewhite;
    font-family: var(--Font_Style);
    font-size: var(--header_Size);
    background-color: transparent;
    color: var(--Text_color);
}

.Atributes_Container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    justify-items:center;
    gap:15px;

    width:100%;
    height:fit-content;
    
    background-color:transparent;
}

.Tags_Selection {
    display:flex;
    width: fit-content;
    font-style: var(--Font_Style);
    font-size: var(--Standard_Size);
    outline: none;
    border: none;
    border-radius:5px;

    background-color:transparent;
    color:gray;
}

.DueDate_Box {
    display: flex;
    width: fit-content;
    font-style: var(--Font_Style);
    font-size: var(--Description_Size);
    border-radius: 5px;
    outline: none;
    border: none;
    outline: none;
    border: none;

    background-color: transparent;
    color: gray;
}

.Atributes_ {
    display:flex;
    flex-direction:row;
    margin-left:5px;
    gap:5px;
    align-items:center;
}

.Main_Description_Container {
    width:98.5%;
    height:59.5vh;
    display:flex;
    margin:5px;

    flex-direction:row;

    border-top-color:var(--Text_color);
    border-top-style:groove;
    border-top-width:thin;
}

#Task-TextBox-Description {
   resize:none;
   scroll-behavior:smooth;

   width:100%;
   height:inherit !important;

   font-family:var(--Font_Style);
   font-size:var(--Description_Size);

   margin-top:5px;
   background-color:transparent;
   border:none;
   outline:none;
   border-radius:5px;


   color:var(--Text_color);

}

.Task-Save-button {
    position:absolute;
    display:flex;

    border:none;
    outline:none;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    border-radius:40px;

    width:20%;
    height:5vh;
    bottom:2%;
    right:2%;

    filter:brightness(85%) grayscale(20%) contrast(100%);
    background-color:var(--Defualt_Background_Color);
    font-family:var(--Font_Style);
    font-size:var(--Standard_Size);
    color:var(--Text_color);
}



#Task-TextBox-Description:hover {
    color: var(--Text_color);
    filter: brightness(100%) opacity(0.5);
    background-color: rgb(83,83,83);
}

#Task-TextBox-Description:focus {
    color: var(--Text_color);
    filter: brightness(85%) opacity(1);
}

/*
    
.Task_dialog:hover {
    transform:translate(-100%,-13%);

}*/

.Tags_Selection:hover {
    color: var(--Text_color);
    filter: brightness(100%) opacity(0.5);
    background-color: rgb(83,83,83);
}


.Tags_Selection:focus {
    color: var(--Text_color);
    filter: brightness(85%) opacity(1);

}

.DueDate_Box::-webkit-calendar-picker-indicator {
    opacity:0;
}


.DueDate_Box:hover {
    color: var(--Text_color);
    filter: brightness(100%) opacity(0.5);
    background-color: rgb(83,83,83);
}


.DueDate_Box:focus {
    color: var(--Text_color);
    filter: brightness(85%) opacity(1);
}



.Task_TextBox_Header:focus {
    outline: hidden;
    border: hidden;
    border-bottom: solid;
    border-color: antiquewhite;
    color: var(--Text_color);
    border: 15px;
}

.Task-Save-button:hover {
    transition-property: filter;
    transition-timing-function: ease-in;
    transition-duration: 0.5s;
    filter: brightness(150%)
}

.Cancel-icon:hover {
    cursor: pointer;
    transform: translateY(-10px) scale(10px);
}


/**----------Display_Section----------**/

.Task_Container {/*Task container*/
    position:relative;
    display:grid;
    grid-template-columns:20% 20% 20% 20% 20%;
    grid-template-rows:50px repeat(1,100px);
    top:10px;
    height:fit-content;
    width:100%;
    
}


.Defualt_Tag_Collums {
    grid-row: 1;
    grid-column: 1;
}


.Task_Icon {
    width: 1rem;
    height: 1rem;
    margin-left: 5px;
    padding: 0px;
}

.Catergory_Header_Container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom-color: antiquewhite;
    border-bottom-style: solid;
    border-width: 2px;
}

.Catergory_Header {
    display:flex;
    flex-direction:row;
    align-content:center;
    justify-content:center;
    align-content:center;

    /**Spacing element*/
    margin-left:5px;
    margin-bottom:2px;
    margin-top:2px;
    padding-right:56%;
    
    font-family:var(--Font_Style);
    font-size:1.3rem;
    color:var(--Text_color);
    
    
}

.CreateNewCategory {
    background-color:transparent;
    width:fit-content;
    height:fit-content;
    transition-property:transform;
    transition-duration:0.1s;
    transition-timing-function:ease-out;
}

.CreateNewCategory:hover {
    transform:scale(1.2);
    cursor:pointer;
}


.Create_Task_Icon {
    width:25px;
    height:25px;
    padding:0px;
}


.Tag_Template {
    position:relative;
    margin-left:5px;
    margin-right:5px;

    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-rows: [TaskHeader] 6vh [Prop1] 5vh [Prop2] 5vh [AccessButton] 32%;

    background-color:var(--Defualt_Background_Color);

    border-radius:3px;
}

.Task_Template_Header {
    font-family:var(--Font_Style);
    font-size:1rem;
    color:antiquewhite;
    margin:0px;
    padding:0px;
    padding-left:5px;
}

.Tag_Properties_Container{
    grid-row:Prop1;
    
    background-color:var(--Defualt_Background_Color);

    display:flex;
    flex-wrap:wrap;
    align-items:center;
    align-content:center;
    justify-content:flex-start;
}

.Duedate_Properties_Container {
    grid-row: Prop2;
    
    background-color:var(--Defualt_Background_Color);

    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.Properties {
    margin-left:15px;

    font-family: var(--Font_Style);
    font-size: 0.8rem;
    color: var(--Text_color);
}



.Template_Header_Container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    grid-row: TaskHeader;
    grid-column: 1;
    font-family: var(--Font_Style);
}


.Properties:hover {
    border-radius:3px;
    background-color:dimgrey;
    cursor:pointer;
}

.Tag_Template:hover {
    filter:brightness(150%);
    cursor:pointer;
}