@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,500&family=Roboto+Condensed:ital,wght@0,700;1,400&family=Rubik:ital,wght@1,500&family=Sora:wght@700&family=Vollkorn:wght@500;700&display=swap');

@keyframes TransitionIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.interaction-field {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: fit-content;
    height: fit-content;
    top:10rem;
    gap:20px;
}


h1 {
    font-family: 'Sora', sans-serif;
    font-weight:bold;
    font-size:4rem;
    margin-bottom:5px;
}


label {
    position: relative;
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
    left: 0rem;
    padding-bottom: 0.1rem;
    width: fit-content;
}


.user-Info-box {
    display:flex;
    flex-direction:column;
    align-content:center;
    align-items:stretch;
}



.paswords_box,
.email-box{
    background: rgb(242, 239, 234);
    border: 2px solid black;
    block-size: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 6px;
    color: rgb(52, 52, 52);
    padding-bottom: 5px;
    margin-bottom: 5px;
}


.Sender {
    border: 5px solid;
    border-color: rgb( 52, 52, 52);
    background-color: rgb(52, 52, 52);
    color: rgb(242, 239, 234);
    border-radius: 9px;
    font-size: 1.5rem;
    margin-top: 15px;
    position: relative;
    cursor: pointer;
}


@media only screen and (max-widtht: 414px) {
    html,body{ 
        height:90vh;
    }
    h1{
        font-size:1rem;
    }
}
