:root {
    background-color: rgb(242, 239, 234);
}

.container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 95vh;
    width: 80px; /* Adjust width as per your requirement */
    left: -8px;
    bottom: 8.5px;

}

.nav-bar {
    height:fit-content;
    display: flex;
    gap:5px;
    flex-direction: column;
}

.Scheduled-Views,
.Task-Views {
    padding: 10px;
    background-color: #fff;
    margin-bottom: 10px;
}

.User-Profile-Canva {
    padding: 10px;
    background-color: #fff;
    margin-bottom: 215px;
}


img{ /* icon size adjustment*/
    width:30px;
    height:30px;
}
