@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,500&family=Roboto+Condensed:ital,wght@0,700;1,400&family=Rubik:ital,wght@1,500&family=Sora:wght@700&family=Vollkorn:wght@500;700&display=swap');

body {
    height: 100%;
    width: 100%;
    animation: TransitionIn 0.75s;
}


.Sign-up-field {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-content: center;
    align-items: center;
    height: 30vh;
    top: 10%;
    left: 15%;
    width: 70%;
    gap: 10px;
}


.input-field {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 25%;
    height: fit-content;
}

h1 {
    position: relative;
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Sora', sans-serif;
    top: -2rem;
}


label {
    position: relative;
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
    left: 0rem;
    padding-bottom: 0.1rem;
    width: fit-content;
}

.Username-box, .gmail-box, .password-box {
    background: rgb(242, 239, 234);
    border: 2px solid black;
    block-size: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 6px;
    color: rgb(52, 52, 52);
    padding-bottom: 5px;
    margin-bottom: 5px;
}


.Username-box:focus, .gmail-box:focus, .password-box:focus {
    background: rgb(242, 239, 234);
    border-color: rgb(66, 75, 84);
}


.Submit-gmail-button {
    border: 5px solid;
    border-color: rgb( 52, 52, 52);
    background-color: rgb(52, 52, 52);
    color: rgb(242, 239, 234);
    border-radius: 9px;
    font-size: 1.5rem;
    margin-top: 15px;
    position: relative;
    cursor: pointer;
}

.Login-Link {
    color: rgb(52, 52, 52);
    position: fixed;
    font-size: 1rem;
    font-family: 'Sora', sans-serif;
    bottom: 30vh; /* Adjust the bottom value as needed */
    left: 50%;
    transform: translateX(-50%);
}


@keyframes TransitionIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
